extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active   المدراء
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/admin/addmanager', role='button') إضافة مدير
            span.glyphicon.glyphicon-plus 
      div.panel-body
        div.table-responsive  
          table#admin.table.table-bordred.table-striped
            thead
              th الاسم
              th رقم الهاتف
              th اللجان
              th تعديل
              th الغاء 
            tbody
            for user in users
              tr
                td= user.name
                td= user.phone_number
                td= user.office_name
                td
                  button#view.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{user.iduser}", data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-eye-open
                td      
                  button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{user.iduser}")
                    span.glyphicon.glyphicon-trash 
        div.text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي
  #del.modal(data-width='760', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-headr
          .modal-title
        .modal-body
          p هل انت متأكد 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') delete
          button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/admin.js")
  script(src="/javascripts/editmanager.js")