extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا #{name}
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا #{name}
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='/users/logout') تـسـجـيـل الخـروج
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    .row
      .col-sm-3
        .nav.nav-pills.nav-stacked
          li.active
            if level == 0
              a(href="/cpanel")
                span.glyphicon.h5 لـوحـــة الـتـحــكــم
            else if level == 1
              a(href="/cpanel/cpanelAdmin")
                span.glyphicon.h5 لـوحـــة الـتـحــكــم
            p
          li
            p
              a.btn.btn-default.btn-block(href="/office/mahallaViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الــمـحـلـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/villageViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | القـريـه / المـدينـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/officeViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الـلــجـنـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/subconstituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائـر الـفرعـيـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/constituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائر الرئـيـسـيه
          li
            p
              a.btn.btn-default.btn-block(href="/employee", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـوظـفـيـن
          li
            p
              a.btn.btn-primary.btn-block(href="/admin", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | الـمـدراء
          li
            p
              a.btn.btn-default.btn-block(href="/report", role="button")
                span.glyphicon.glyphicon-list-alt.pull-right
                | الـتـقـاريــر
          li
            p
              a.btn.btn-default.btn-block(href="/office", role="button")
                span.glyphicon.glyphicon-th-list.pull-right
                | اللجـان و المـراكز      
      .panel
        .col-sm-4.col-md-6
          .input-group 
            input.form-control(type="text",name="idcenter",id = "idcenter")
            .input-group-btn
              .btn.btn-default(type="button")  
                spen.glyphicon.glyphicon-search
        div.btn-group.pull-left
          a.btn.btn-success(href='/admin/addmanager', role='button') إضافة مدير
            span.glyphicon.glyphicon-plus 
      div.panel-body
        .col-lg-9.table-responsive 
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th الاسم
              th اللجان
              th رقم الهاتف
              th تعديل
              th الغاء 
            tbody
            for user in users
              tr
                td= user.name
                td= user.office_name
                td
                  a#phone(href='#phonee', data-toggle='modal',data-value="#{user.iduser}")
                    |  #{user.phone_number}
                td
                  button#view.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{user.iduser}", data-target='#edit', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-eye-open
                td      
                  button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{user.iduser}")
                    span.glyphicon.glyphicon-trash 
        if pagination
          div.text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
  #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
           p.h1 ارقام الهواتف
        .modal-body
          div.panel-body  
            div.table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th رقم الهاتف
                  th النوع
                tbody#body
        .modal-footer
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/admin.js")
  script(src="/javascripts/editmanager.js")
