extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") لـوحـــة الـتـحــكــم
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../../../../images/hnec_logo.png")
  font(size="4", color="black" , font="family" )
    div.container 
      //button#enable.btn.btn-primary تمكــين / تعطـــيل
      //button#delete.btn.btn-danger.pull-right(href='#del', data-toggle='modal',value="")
        span.glyphicon.glyphicon-trash
      .col-lg-1
      a.btn.btn-primary.pull-left(type="button", href="#{url}") رجـــــوع
      p
    div.container 
      div.form-group 
        table#user.table.table-striped.table-bordered.table-condensed.table-hover
          tbody
            tr
              td(width='35%') اسم المركز
              td(width='65%')
                |#{cent[0].name}
            tr
              td(width='35%') رقم المركز
              td(width='65%')
                |#{cent[0].center_id}
            tr
              td الدائرة الرئسيه
              td
                |#{cent[0].constituency_name_ar}
            tr
              td اللجنة
              td
                |#{cent[0].office_name_ar}
            tr
              td الدائرة الفرعية
              td
                |#{cent[0].subconstituency_name_ar}
            tr
              td القرية / المدينه
              td
                |#{cent[0].village_name}
            tr
              td المحلة
              td
                |#{cent[0].mahalla_name}
            tr
              td نوع المركز
              td
                |#{cent[0].center_type}
            tr
              td خطوط العرض
              td
                |#{cent[0].center_lat}
            tr
              td خطوط الطول
              td
                |#{cent[0].center_log}
      .col-md-12 
        .panel
            div.btn-group.pull-left
              .col-sm-4.col-md-1
                a.btn.btn-success(href='#addemployee', role='button',data-toggle='modal') الإضـافـة
                  span.glyphicon.glyphicon-plus 
            .col-sm-4.col-md-6
              .input-group 
                  input.form-control(type="text",name="constitres", placeholder=" أبحث", required="")
                  .input-group-btn
                    .btn.btn-default(type="button")  
                      spen.glyphicon.glyphicon-search
        div.panel-body  
          div.table-responsive  
            table#off.table.table-striped.table-bordered.table-condensed.table-hover
              thead
                th أسم الموظف
                th البريد الالكتروني
                th رقم الهاتف
                th الصفة
                th المركز
                th تعديل
                th الغاء 
              tbody
                for employee in employees
                    tr
                      td #{employee.employee_name}
                      td #{employee.email}
                      td 
                        a#phone(href='#phonee', data-toggle='modal',data-value="#{employee.idemployee}")
                          |#{employee.phone_number}
                      td 
                        case employee.type
                          when 0
                            p رئيس مركز
                          when 1
                            p مدير محطة
                          when 2
                            p محقق هوية
                          when 3
                            p موزع أوراق الاقتراع
                          when 4
                            p مراقب الصندوق
                          when 5
                            p منظم الطابور بالمركز
                          when 6
                            p منظم الطابور بالمحطة
                          when 7 
                            p  موظف المفوظية العليا للغنتخبات 
                      td #{employee.name}
                      td
                        button#viw.btn.btn-primary.btn-xs(value="#{employee.idemployee}")
                          span.glyphicon.glyphicon-eye-open
                      td      
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{employee.idemployee}")
                         span.glyphicon.glyphicon-trash 
          if pagination
            div.text-center
              ul.pagination
                li(class='#{pagination.previous.disabled}')
                  a(href='?p=#{pagination.previous.n}') السابق
                for page in pagination.pages
                  li(class="#{page.active}")
                    a(href='?p=#{page.n}') #{page.n}
                li(class="#{pagination.next.disabled}")
                  a(href='?p=#{pagination.next.n}') التالي
    #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-headr.modal-header-success
             p.h1 ارقام الهواتف
          .modal-body
            div.panel-body  
              div.table-responsive  
                table#off.table.table-striped.table-bordered.table-condensed.table-hover
                  thead
                    th رقم الهاتف
                    th النوع
                  tbody#body
          .modal-footer
            button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  #addemployee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h1 الإضـافـة
        .row
          .col-sm-12.col-md-11.col.col-md.offset-4
              .modal-body
                  form#form.form-signin(role="form" , action="/employee/addemployeeCenter/#{cent[0].center_id}", method="post")   
                    div.form-group
                      lable.h3 اﻻسـم
                      input#employee_name.form-control(type="text",name="employee_name", placeholder="اﻻسـم",autofocus="")
                    div.form-group
                      lable.h3 البريد الالكتروني
                      input#email.form-control(type="text",name="email", placeholder="البريد الالكتروني",autofocus="") 
                    div.form-group
                      lable.h3 الرقم الوطني
                      input#nid.form-control(type="text",name="nid", placeholder="الرقم الوطني",autofocus="")     
                    div.form-group
                      lable.h3 اسم المصرف
                      input#bank_name.form-control(type="text",name="bank_name", placeholder="اسم المصرف",autofocus="")
                    div.form-group
                      lable.h3 رقم الحساب
                      input#account_number.form-control(type="text",name="account_number", placeholder="رقم الحساب",autofocus="")
                    div.form-group
                      lable رقم الهاتف
                      .form-group.multiple-form-group.input-group#phone_input
                        .input-group-btn.input-group-select
                          button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                            span.concept Phone
                            span.caret
                          ul.dropdown-menu(role='menu')
                            li
                              a(href='#ليبيانا') ليبيانا
                            li
                              a(href='#المدار') المدار
                            li
                              a(href='#ثريا') ثريا
                            li
                          input.input-group-select-val(type='hidden', value='phone', name='phone_type[]')
                        input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                        span.input-group-btn
                          button.btn.btn-success.btn-add(type='button') +
                    div.form-group
                      lable.h3 الـصـفـه
                      if cent[0].center_id == -1
                        select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                          option(value="7") موظف المفوظية العليا للإنتخبات 
                      else
                        select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                          option(value="0") رئيس مركز
                          option(value="1") مدير محطة
                          option(value="2") محقق هوية 
                          option(value="3") موزع أوراق الاقتراع
                          option(value="4") مراقب الصندوق
                          option(value="5") منظم الطابور بالمركز
                          option(value="6") منظم الطابور بالمحطة
                    div.form-group
                      input.input-group-select-val(type='hidden', value='#{cent[0].center_id}', name='center_idcenter')
                    div.form-group.text-center
                      button.btn.btn-lg.btn-primary(type="submit") إضـافة        
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
           p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal',data-center="#{cent[0].center_id}") مـسـح
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/center.js")
   
