extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../images/hnec_logo.png")
    font(size="4", color="black" , font="family" )
    div.container 
      button#enable.btn.btn-primary تمكــين / تعطـــيل
      button#delete.btn.btn-danger.pull-right(href='#del', data-toggle='modal',value="#{employee[0].idemployee}")
        span.glyphicon.glyphicon-trash
      .col-lg-1
      a.btn.btn-primary.pull-left(type="button", href="/employee") رجـــــوع
    div.container 
      div.form-group 
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            tr
              td(width='35%') اسم الموظف
              td(width='65%')
                a#employee_name(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='اﻻسم' data-value='#{employee[0].employee_name}')  #{employee[0].employee_name}
            tr
              td(width='35%') البريد الإلكتروني
              td(width='65%')
                a#email(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='البريد الإلكتروني' data-value='#{employee[0].email}')  #{employee[0].email} 
            tr
              td(width='35%') رقم الهاتف
              td(width='65%')
                each val, i in phone
                  a#phone_number(href='#', data-type='text', data-pk='#{phone[i].idphone}',name="phone_number", data-title="رقم الهاتف  "+phone[i].type+"", data-value='#{phone[i].phone_number}') 
                  &nbsp;&nbsp;
            tr
              td(width='35%') الرقم الوطني
              td(width='65%')
                a#nid(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='الرقم الوطني' data-value='#{employee[0].nid}')  #{employee[0].nid}
            tr
              td(width='35%') اسم البنك
              td(width='65%')
                a#bank_name(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='اسم البنك', data-value='#{employee[0].bank_name}')  #{employee[0].bank_name}
            tr
              td(width='35%') رقم الحساب
              td(width='65%')
                a#account_number(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='رقم الحساب', data-value='#{employee[0].account_number} ') #{employee[0].account_number} 
            tr
              td الصفة
              td
                a#type(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].type}',  data-title='الصفة') 
            //- tr
            //-   td اسم المركز
            //-   td
            //-     a#center_idcenter(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].center_idcenter}',  data-title='اسم المركز') 
                  

    #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal') delete
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/editemployee.js")
   
