extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left Centers
  div.container    
    table#user.table.table-bordered.table-striped(style='clear: both')
      tbody
        tr
          td(width='35%') اسم المدير
          td(width='65%')
            a#name(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='اسم المدير' data-value='#{user[0].name}')  #{user[0].name}
        tr
          td(width='35%') البريد الالكترونب
          td(width='65%')
            a#email(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='البريد الالكترونب', data-value='#{user[0].email}')  #{user[0].email}
        tr
          td(width='35%') رقم الهاتف
          td(width='65%')
            a#phone(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='رقم الهاتف', data-value='#{user[0].phone}')  #{user[0].phone}
        tr
          td الصلاحية
          td
            a#level(href='#', data-type='select', data-pk='#{user[0].iduser}', data-value='#{user[0].level}',  data-title='الصلاحية')
        tr
          td الدوائر
          td
            a#level1(href='#', data-type='select', data-pk='#{user[0].iduser}', data-value='#{user[0].level1}',  data-title='الدوائر')  
           
    div.footer
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/editmanager.js")
      