extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا 
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا 
              li(role='presentation')
                a(href='/users/logout', role='menuitem', tabindex='-1') تـسـجـيـل الخـروج
        li.active
          a(href="/cpanel") الصفحة الرئيسية
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../../images/hnec_logo.png")
    font(size="4", color="black" , font="family" )
    div.container 
      button#enable.btn.btn-primary تمكــين / تعطـــيل
      button#delete.btn.btn-danger.pull-right(href='#del', data-toggle='modal',value="#{employee[0].id_emp_office}")
        span.glyphicon.glyphicon-trash
      .col-md-1
      a.btn.btn-primary.pull-left(type="button", href="#{url}") رجـــــوع
    div.container
      div.form-group
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            tr
              td(width='35%') الاسم 
              td(width='65%')
                a#emp_office_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='الاسم' data-value='#{employee[0].emp_office_name}') #{employee[0].emp_office_name}
                a#f_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='الاب' data-value='#{employee[0].f_name}')     #{employee[0].f_name}
                a#g_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='الجد' data-value='#{employee[0].g_name}')     #{employee[0].g_name}
                a#l_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='اللقب' data-value='#{employee[0].l_name}')     #{employee[0].l_name}
            tr
              td(width='35%') أسم الأم ثلاثي 
              td(width='65%')
                a#m_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='أسم الأم' data-value='#{employee[0].m_name}') #{employee[0].m_name}
            tr
              td(width='35%') البريد الإلكتروني
              td(width='65%')
                a#email(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='البريد الإلكتروني' data-value='#{employee[0].email}')  #{employee[0].email} 
            tr
              td(width='35%') الجنس
              td(width='65%')
                a#sex(href='#', data-type='select', data-pk='#{employee[0].id_emp_office}', data-title='الجنس' data-value='#{employee[0].sex}') 
            tr
              td(width='35%') تاريخ الميلاد 
              td(width='65%')
                a#birthday.date(href='#', data-type='datetime', data-pk='#{employee[0].id_emp_office}', data-title='تاريخ الميلاد' data-value='#{employee[0].birthday}') #{employee[0].birthday}

            tr
              td(width='35%') البطاقة الشخصية 
              td(width='65%')
                a#ID_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='البطاقة الشخصية' data-value='#{employee[0].ID_number}')  #{employee[0].ID_number}
            tr
              td(width='35%') رقم الجواز
              td(width='65%')
                a#pass_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='جواز السفر' data-value='#{employee[0].pass_number}')  #{employee[0].pass_number}
            tr
              td(width='35%') العنوان
              td(width='65%')
                a#address(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='العنوان' data-value='#{employee[0].address}')  #{employee[0].address}
            tr
              td(width='35%')  كتيب العائلة
              td(width='65%')
                a#family_book_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='ورقة العائلة' data-value='#{employee[0].family_book_number}')  #{employee[0].family_book_number}
            tr
              td(width='35%')  ورقة العائلة
              td(width='65%')
                a#family_page_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='ورقة العائلة' data-value='#{employee[0].family_page_number}')  #{employee[0].family_page_number}
            tr
              td(width='35%') رقم القيد
              td(width='65%')
                a#derestrict_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='رقم القيد' data-value='#{employee[0].derestrict_number}')  #{employee[0].derestrict_number}
            tr
              td(width='35%') الرقم الوطني
              td(width='65%')
                a#nid(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='الرقم الوطني' data-value='#{employee[0].nid}')  #{employee[0].nid}
            tr
              td(width='35%') المكتب التابع له
              td(width='65%')
                a#office_id(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='المكتب التابع له' data-value='#{employee[0].office_id}') #{employee[0].office_id}
            tr
              td(width='35%') اسم البنك
              td(width='65%')
                a#bank_name(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='اسم البنك', data-value='#{employee[0].bank_name}') #{employee[0].bank_name}
            tr
              td(width='35%') رقم الحساب
              td(width='65%')
                a#acount_number(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='رقم الحساب', data-value='#{employee[0].acount_number} ') #{employee[0].acount_number}
            tr
              td(width='35%') الدائرة الفرعية التابعة له
              td(width='65%')
                a#emp_subconstituency(href='#', data-type='select', data-pk='#{employee[0].id_emp_office}', data-title='الدائرة الفرعية التابعة له', data-value='#{employee[0].emp_subconstituency} ')
            tr
              td(width='35%') المؤهل العلمي
              td(width='65%')
                a#qualification(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='المؤهل العلمي', data-value='#{employee[0].qualification} ') #{employee[0].qualification}
            tr
              td(width='35%') تاريخ التخرج
              td(width='65%')
                a#graduation(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='تاريخ التخرج', data-value='#{employee[0].graduation} ') #{employee[0].graduation}
            tr
              td(width='35%') نوع العمل
              td(width='65%')
                a#work_type(href='#', data-type='select', data-pk='#{employee[0].id_emp_office}', data-title='نوع العمل', data-value='#{employee[0].work_type}') 
            tr
              td(width='35%') الدرجة الحالية
              td(width='65%')
                a#level(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='الدرجة الحالية', data-value='#{employee[0].level} ') #{employee[0].level}
            tr
              td(width='35%') قيمة المرتب
              td(width='65%')
                a#salary(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='المرتب', data-value='#{employee[0].salary} ') #{employee[0].salary}
            tr
              td(width='35%') تاريخ البداء
              td(width='65%')
                a#start_date(href='#', data-type='datetime',class=" table-condensed", data-pk='#{employee[0].id_emp_office}', data-title='تاريخ بداية العمل', data-value='#{employee[0].start_date}') #{employee[0].start_date}
            tr
              td(width='35%') نوع العمل
              td(width='65%')
                a#management_type(href='#', data-type='text', data-pk='#{employee[0].id_emp_office}', data-title='نوع العمل', data-value='#{employee[0].management_type} ') #{employee[0].management_type}
            tr
              td(width='35%') تاريخ النهاية
              td(width='65%')
                a#end_date.table-condensed(href='#', data-type='datetime', data-pk='#{employee[0].id_emp_office}', data-title='تاريخ النهاية', data-value='#{employee[0].end_date} ') #{employee[0].end_date} 
            tr
              td(width='35%') الصفة
              td(width='65%') 
                for ty,id in type.hnec       
                  if id == employee[0].type           
                    a#type(href='#', data-type='select', data-pk='#{employee[0].id_emp_office}', data-title='الصفة', data-value='#{employee[0].type} ') #{ty}
        button.btn.btn-success.btn-xs(data-toggle='modal',value="#{employee[0].id_emp_office}", data-target='#add', data-placement='top', rel='tooltip') إضافة هاتف
          span.glyphicon.glyphicon-plus   
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            each val, i in phone
              tr
                td(width='10%') #{phone[i].type}
                td(width='55%')
                 a#phone_number(href='#', data-type='text', data-pk='#{phone[i].idphone}',name="phone_number", data-title="رقم الهاتف  "+phone[i].type+"", data-value='#{phone[i].phone_number}') #{phone[i].phone_number}
                td(width='10%') 
                  a#p_type(href='#', data-type='select', data-pk='#{val.idphone}', name="p_type",data-value='#{val.p_type}',  data-title='الملكية') 
                td(width='10%')
                  button#deletePhone.btn.btn-danger.btn-xs(data-toggle='modal',value="#{val.idphone}", data-target='#phone', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash

  #phone.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          //-#{user[0].iduser}  
          button#confphone.btn.btn-danger(type='button',data-dismiss='modal',data-id="#{employee[0].id_emp_office}") حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء

  #add.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h1 إضافة
            .glyphicon.glyphicon-plus
        .row
          .col-md-offset-0 
              .modal-body
                form#form.form-signin(role="form" , action="/phone/addPhoneEmployeeOffice", method="post")
                  table(width="430", align="center")
                    div.form-group.pull-left
                      lable.h4 رقم الهاتف
                      .form-group.multiple-form-group.input-group#phone_input
                        input.input-group-select-val(type='hidden',value="#{employee[0].id_emp_office}", name='user_id[]')
                        input.input-group-select-val(type='hidden',value="2", name='user_type[]')
                        .input-group
                          #radioBtn.btn-group
                            a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                            a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                            input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                        .input-group
                          .input-group-btn.input-group-select
                            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                              span.concept ليبيانا
                              span.caret
                            ul.dropdown-phone(role='menu')
                              li
                                a(href='#ليبيانا') ليبيانا
                              li
                                a(href='#المدار') المدار
                              li
                                a(href='#ثريا') ثريا
                              li
                            input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                            input.input-group-select-val(type='hidden',value="#{employee[0].id_emp_office}", name='user_id[]')
                            input.input-group-select-val(type='hidden',value="2", name='user_type[]')
                          input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                          span.input-group-btn
                            button.btn.btn-success.btn-add(type='button') +
                    div.form-group
                      button.btn.btn-lg.btn-primary(type="submit") إضـافة
  
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
           p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer   
          button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal',data-value="#{employee[0].office_id}" value = "#{employee[0].id_emp_office}") مـسـح
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء

  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/editEmployeeOffice.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/bootstrap-datetimepicker.js")
  script(src="/javascripts/bootstrap-datetimepicker.fr.js")
