extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
          
  div.container 
    button#enable.btn.btn-default enable / disable
    button#delete.btn.btn-danger.btn-xs.pull-left(href='#del', data-toggle='modal',value="#{user[0].iduser}")
     span.glyphicon.glyphicon-trash 
    div.form-group 
      table#user.table.table-bordered.table-striped(style='clear: both')
        tbody
          tr
            td(width='35%') اسم المدير
            td(width='65%')
              a#name(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='اسم المدير' data-value='#{user[0].name}')  #{user[0].name}
          tr
            td(width='35%') البريد الالكترونب
            td(width='65%')
              a#email(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='البريد الالكترونب', data-value='#{user[0].email}')  #{user[0].email}
          tr
            td(width='35%') رقم الهاتف
            td(width='65%')
              a#phone(href='#', data-type='text', data-pk='#{user[0].iduser}', data-title='رقم الهاتف', data-value='#{user[0].phone}')  #{user[0].phone}
          tr
            td الصلاحية
            td
              مدير
          tr
            td اللجان
            td
              a#level1(href='#', data-type='select', data-pk='#{user[0].iduser}', 
              data-value='#{user[0].level1}',  data-title='اللجان')
                

  #del.modal(data-width='760', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-headr
          .modal-title 
        .modal-body
           p هل انت متأكد 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') delete
          button.btn.btn-success(data-dismiss='modal', type='button') cancel
  
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/editmanager.js")
  script(src="/javascripts/admin.js")
      