extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") لـوحـــة الـتـحــكــم 
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../../images/hnec_logo.png")
    font(size="4", color="black" , font="family" )
    div.container 
      button#enable.btn.btn-primary تمكــين / تعطـــيل
      button#delete.btn.btn-danger.pull-right(href='#del', data-toggle='modal',value="#{employee[0].idemployee}")
        span.glyphicon.glyphicon-trash
      .col-lg-1
      a.btn.btn-primary.pull-left(type="button", href="#{url}") رجـــــوع
    div.container 
      div.form-group 
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            tr
              td(width='35%') اسم الموظف 
              td(width='65%')
                a#employee_name(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='اﻻسم' data-value='#{employee[0].employee_name}')  #{employee[0].employee_name}
            if employee[0].center_idcenter < 0
              tr
                td(width='35%') اسم الام
                td(width='65%')
                  a#mother(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='اﻻسم' data-value='#{employee[0].mother}')  #{employee[0].mother}
            tr
              td(width='35%') البريد الإلكتروني
              td(width='65%')
                a#email(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='البريد الإلكتروني' data-value='#{employee[0].email}')  #{employee[0].email} 
            tr
              td(width='35%') الرقم الوطني
              td(width='65%')
                a#nid(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='الرقم الوطني' data-value='#{employee[0].nid}')  #{employee[0].nid}
            tr
              td(width='35%') اسم البنك
              td(width='65%')
                a#bank_name(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='اسم البنك', data-value='#{employee[0].bank_name}')  #{employee[0].bank_name}
            tr
              td(width='35%') رقم الحساب
              td(width='65%')
                a#account_number(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='رقم الحساب', data-value='#{employee[0].account_number} ') #{employee[0].account_number} 
            tr
              td(width='35%') المؤهل العلمي
              td(width='65%')
                a#qualification(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='المؤهل العلمي', data-value='#{employee[0].qualification} ') #{employee[0].qualification}
            tr
              td(width='35%') التخصص
              td(width='65%')
                a#specialty(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='التخصص', data-value='#{employee[0].specialty} ') #{employee[0].specialty}
            tr
              td(width='35%') جهة التخرج
              td(width='65%')
                a#graduation(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title=' جهة التخرج', data-value='#{employee[0].graduation} ') #{employee[0].graduation}
            tr
              td(width='35%') تاريخ التخرج
              td(width='65%')
                a#graduation_date(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title=' تاريخ التخرج ', data-value='#{employee[0].graduation_date} ') #{employee[0].graduation_date}
            tr
              td(width='35%') رقم جواز السفر
              td(width='65%')
                a#passport_number(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='رقم جواز السفر ', data-value='#{employee[0].passport_number} ') #{employee[0].passport_number}
            tr
              td(width='35%') تاريخ انتهاء الجواز
              td(width='65%')
                a#passport_end(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title=' تاريخ انتهاء الجواز', data-value='#{employee[0].passport_end} ') #{employee[0].passport_end}            
            tr
              td(width='35%') حضور الاستحقاقات الانتخابية السابقة
              td(width='65%')
                a#election(href='#', data-type='textarea', data-pk='#{employee[0].idemployee}', data-title='حضور الاستحقاقات الانتخابية السابقة ', data-value='#{employee[0].election} ') #{employee[0].election}            
            tr
              td(width='35%') الدورات المتحصل عليها
              td(width='65%')
                a#course(href='#', data-type='textarea', data-pk='#{employee[0].idemployee}', data-title='الدورات المتحصل عليها', data-value='#{employee[0].course} ') #{employee[0].course}            
            tr
              td(width='35%') جهة العمل الاصلية
              td(width='65%')
                a#previous_job(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='جهة العمل الاصلية', data-value='#{employee[0].previous_job} ') #{employee[0].previous_job}
            if employee[0].center_idcenter < 0
              tr
                td(width='35%') سنوات العمل السابقة
                td(width='65%')
                  a#job_year(href='#', data-type='number', data-pk='#{employee[0].idemployee}', data-title='سنوات العمل السابقة', data-value='#{employee[0].job_year} ') #{employee[0].job_year}
              tr
                td(width='35%') تاريخ العمل بالمفوضية
                td(width='65%')
                  a#start_date(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title=' تاريخ العمل بالمفوضية', data-value='#{employee[0].start_date} ') #{employee[0].start_date}
              tr
                td(width='35%') كيفية شغل الوظيفة
                td(width='65%')
                  a#job(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].job}',  data-title='كيفية شغل الوظيفة') 
              tr
                td(width='35%')الوضع الحالي للموظف
                td(width='65%')
                  a#job_status(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].job_status}',  data-title='الوضع الحالي للموظف') 
              tr
                td(width='35%') تاريخ الاجراء
                td(width='65%')
                  a#action_date(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title='تاريخ الاجراء ', data-value='#{employee[0].action_date} ') #{employee[0].action_date}
              tr
                td(width='35%') الدرجة الحالية
                td(width='65%')
                  a#grade(href='#', data-type='text', data-pk='#{employee[0].idemployee}', data-title='الدرجة الحالية', data-value='#{employee[0].grade} ') #{employee[0].grade}
              tr
                td(width='35%') تاريخ الحصول على الدرجة
                td(width='65%')
                  a#grade_date(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title='تاريخ الحصول على الدرجة', data-value='#{employee[0].grade_date} ') #{employee[0].grade_date}
              
              tr
                td(width='35%') تاريخ العلاوة السنوية
                td(width='65%')
                  a#prem_date(href='#', data-type='date', data-pk='#{employee[0].idemployee}', data-title='تاريخ العلاوة السنوية', data-value='#{employee[0].prem_date} ') #{employee[0].prem_date}
            tr
              td الصفة
              td 
                if employee[0].center_idcenter < 0
                  a#type_h(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].type}',  data-title='الصفة') 
                else
                  a#type_e(href='#', data-type='select', data-pk='#{employee[0].idemployee}', data-value='#{employee[0].type}',  data-title='الصفة') 

        div.btn-group.pull-left
          button#addPhone.btn.btn-success.btn-xs(data-toggle='modal',value="#{employee[0].idemployee}", data-target='#add', data-placement='top', rel='tooltip') إضافة هاتف
            span.glyphicon.glyphicon-plus   
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            each val, i in phone
              tr
                td(width='10%') #{phone[i].type}
                td(width='55%')
                 a#phone_number(href='#', data-type='text', data-pk='#{phone[i].idphone}',name="phone_number", data-title="رقم الهاتف  "+phone[i].type+"", data-value='#{phone[i].phone_number}') 
                td(width='10%') 
                  a#p_type(href='#', data-type='select', data-pk='#{val.idphone}', name="p_type",data-value='#{val.p_type}',  data-title='الملكية') 
                td(width='10%')
                  button#deletePhone.btn.btn-danger.btn-xs(data-toggle='modal',value="#{val.idphone}", data-target='#phone', data-placement='top', rel='tooltip')
                    span.glyphicon.glyphicon-trash 
    #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal') حدف
                button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  #phone.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confphone.btn.btn-danger(type='button',data-dismiss='modal',data-id="#{employee[0].idemployee}") حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
  #add.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h1 إضافة 
            .glyphicon.glyphicon-plus 
        .row 
          .col-md-offset-0 
              .modal-body
                form#form.form-signin(role="form" , action="/phone/addPhoneE", method="post")
                  table(width="430", align="center")
                    div.form-group.pull-left
                      lable.h4 رقم الهاتف
                      .form-group.multiple-form-group.input-group#phone_input
                        input.input-group-select-val(type='hidden',value="#{employee[0].idemployee}", name='user_id[]')
                        input.input-group-select-val(type='hidden',value="1", name='user_type[]')
                        input-group
                          #radioBtn.btn-group
                            a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                            a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                            input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                        .input-group
                          .input-group-btn.input-group-select
                            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                              span.concept ليبيانا
                              span.caret
                            ul.dropdown-phone(role='menu')
                              li
                                a(href='#ليبيانا') ليبيانا
                              li
                                a(href='#المدار') المدار
                              li
                                a(href='#ثريا') ثريا
                              li
                            input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                            input.input-group-select-val(type='hidden',value="#{employee[0].idemployee}", name='user_id[]')
                            input.input-group-select-val(type='hidden',value="1", name='user_type[]')
                          input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                          span.input-group-btn
                            button.btn.btn-success.btn-add(type='button') +
                    div.form-group
                      button.btn.btn-lg.btn-primary(type="submit") إضـافة  



                      //- .input-group
                      //-   #radioBtn.btn-group
                      //-     a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                      //-     a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                      //-     input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                      //- .input-group
                      //-   .input-group-btn.input-group-select
                      //-     button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                      //-       span.concept ليبيانا
                      //-       span.caret
                      //-     ul.dropdown-phone(role='menu')
                      //-       li
                      //-         a(href='#ليبيانا') ليبيانا
                      //-       li
                      //-         a(href='#المدار') المدار
                      //-       li
                      //-         a(href='#ثريا') ثريا
                      //-       li
                      //-     input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                      //-   input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                      //-   span.input-group-btn
                      //-     button.btn.btn-success.btn-add(type='button') +
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/editemployee.js")
  script(src="/javascripts/phone.js")
