extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          h2 الـمـوظـفـيــن
        li 
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    .row
      .col-sm-3
        .nav.nav-pills.nav-stacked
          li.active
            a(href="/cpanel")
              span.glyphicon.h5 لـوحـــة الـتـحــكــم
            p
          li
            p
              a.btn.btn-danger.btn-block(href="/office/mahallaViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الــمـحـلـه
          li
            p
              a.btn.btn-warning.btn-block(href="/office/villageViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | القـريـه / المـدينـه
          li
            p
              a.btn.btn-primary.btn-block(href="/office/officeViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الـلــجـنـه
          li
            p
              a.btn.btn-primary.btn-block(href="/office/subconstituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائـر الـفرعـيـه
          li
            p
              a.btn.btn-success.btn-block(href="/root", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـستخدميــن
          li
            p
              a.btn.btn-info.btn-block(href="/office/constituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائر الرئـيـسـيه
          li
            p
              a.btn.btn-primary.btn-block(href="/admin/phoneManager", role="button")
                span.glyphicon.glyphicon-earphone.pull-right
                | هواتـف المـدراء
          li
            p
              a.btn.btn-primary.btn-block(href="/employee", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـوظـفـيـن
          li
            p
              a.btn.btn-primary.btn-block(href="/admin", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | الـمـدراء
          li
            p
              a.btn.btn-primary.btn-block(href="/admin/phoneEmployeeAll", role="button")
                span.glyphicon.glyphicon-earphone.pull-right
                | هواتـف المـوظـفـين
          li
            p
              a.btn.btn-success.btn-block(href="/office", role="button")
                span.glyphicon.glyphicon-th-list.pull-right
                | اللجـان و المـراكز
      .panel.panel-default 
        div.btn-group.pull-left
            a.btn.btn-success(href='#addoffice', role='button',data-toggle='modal') إضافة موضف
              span.glyphicon.glyphicon-plus 
          .input-group 
            input.form-control(type="text",name="idcenter",id = "idcenter")
            .input-group-btn
              .btn.btn-default(type="button") 
                spen.glyphicon.glyphicon-search
          b.text-right الموظفين
        .col-lg-9.panel-body  
          div.table-responsive  
            table#off.table.table-striped.table-bordered.table-condensed.table-hover
              thead
                th أسم الموظف
                th البريد الالكتروني
                th رقم الهاتف
                th الصفة
                th المركز
                th تعديل
                th الغاء 
              tbody#centers
                for employee in employees
                    tr
                      td #{employee.employee_name}
                      td #{employee.email}
                      td 
                        a#phone(href='#phonee', data-toggle='modal',data-value="#{employee.idemployee}")
                          |#{employee.phone_number}
                      td 
                        case employee.type
                          when 0
                            p رئيس مركز
                          when 1
                            p مدير محطة
                          when 2
                            p محقق هوية
                          when 3
                            p موزع أوراق الاقتراع
                          when 4
                            p مراقب الصندوق
                          when 5
                            p منظم الطابور بالمركز
                          when 6
                            p منظم الطابور بالمحطة
                      td #{employee.name}
                      td
                        button#viw.btn.btn-primary.btn-xs(value="#{employee.idemployee}")
                          span.glyphicon.glyphicon-eye-open
                      td      
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{employee.idemployee}")
                         span.glyphicon.glyphicon-trash
            if pagination 
              div.text-center
                ul.pagination
                  li(class='#{pagination.previous.disabled}')
                    a(href='?p=#{pagination.previous.n}') السابق
                  for page in pagination.pages
                    li(class="#{page.active}")
                      a(href='?p=#{page.n}') #{page.n}
                  li(class="#{pagination.next.disabled}")
                    a(href='?p=#{pagination.next.n}') التالي
        #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal') حدف
                button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
        #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-success
                p.h1 ارقام الهواتف
              .modal-body
                div.panel-body  
                  div.table-responsive  
                    table#off.table.table-striped.table-bordered.table-condensed.table-hover
                      thead
                        th رقم الهاتف
                        th النوع
                      tbody#body
              .modal-footer
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
        #addoffice.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-success
                button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
                button.close(type="button",data-dismiss="modal",aria-hidden="true")
                h1 إضافة 
                  .glyphicon.glyphicon-plus 
              .row 
                .col-md-offset-0 
                    .modal-body
                        form#form.form-signin(role="form" , action="/employee/addemployee", method="post")
                          table(width="430", align="center")
                            tr
                              td
                                div.form-group
                                  lable.h4 اﻻسم
                                  input#employee_name.form-control(type="text",name="employee_name", placeholder="اسم الموظف",autofocus="")
                              td
                                div.form-group.pull-left
                                  lable.h4 البريد الالكتروني
                                  input#email.form-control(type="text",name="email", placeholder="البريد الالكتروني",autofocus="") 
                            tr
                              td
                                div.form-group
                                  lable.h4 الرقم الوطني
                                  input#nid.form-control(type="text",name="nid", placeholder="الرقم الوطني",autofocus="")     
                              td
                                div.form-group.pull-left
                                  lable.h4 اسم المصرف
                                  input#bank_name.form-control(type="text",name="bank_name", placeholder="اسم المصرف",autofocus="")
                            tr
                              td
                                div.form-group
                                  lable.h4 رقم الحساب
                                  input#account_number.form-control(type="text",name="account_number", placeholder="رقم الحساب",autofocus="")
                              td
                                div.form-group.pull-left
                                  lable.h4 رقم الهاتف
                                  .form-group.multiple-form-group.input-group#phone_input
                                    .input-group-btn.input-group-select
                                      button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                                        span.concept Phone
                                        span.caret
                                      ul.dropdown-menu(role='menu')
                                        li
                                          a(href='#ليبيانا') ليبيانا
                                        li
                                          a(href='#المدار') المدار
                                        li
                                          a(href='#ثريا') ثريا
                                        li
                                      input.input-group-select-val(type='hidden', value='phone', name='phone_type[]')
                                    input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                                    span.input-group-btn
                                      button.btn.btn-success.btn-add(type='button') +
                            tr
                              td
                                div.form-group
                                  lable.h4 اللجان
                                  select#office_idoffice.form-control(name="office_idoffice")
                              td
                                div.form-group
                                  lable.h4 الدائرة الفرعية
                                  select#subconstituency_idsubconstituency.form-control(name="subconstituency_idsubconstituency", placeholder="صفة الموظف",autofocus="")
                            tr
                              td
                                div.form-group
                                  lable.h4 المركز
                                  select#center_idcenter.form-control(name="center_idcenter", placeholder="صفة الموظف",autofocus="")
                              td
                                div.form-group.pull-left
                                  lable.h4 الصفة
                                  select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                                    option(value="0") رئيس مركز
                                    option(value="1") مدير محطة
                                    option(value="2") محقق هوية 
                                    option(value="3") موزع أوراق الاقتراع
                                    option(value="4") مراقب الصندوق
                                    option(value="5") منظم الطابور بالمركز
                                    option(value="6") منظم الطابور بالمحطة
                            tr
                              td
                                div.form-group
                                  button.btn.btn-lg.btn-primary(type="submit") إضـافة      
                    .modal-footere
  script.
    function pho(id){
      $.get('/employee/getphone/'+id, function(result){
        $('#body').empty();
        for ( var i = 0; i < result.length;  i++ ) {
          $('#body').append("<tr><td>"+result[i].phone_number+"</td><td>"+result[i].type+"</td></tr>");
        }
      });
    }   
    function del(id){
      $('#deleteemployee').val(id);
    }               
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/employee.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/addemployee.js")