extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") الصفحة الرئيسية
        li
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا 
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا 
              li(role='presentation')
                a(href='/users/logout', role='menuitem', tabindex='-1') تـسـجـيـل الخـروج
      h3.text-muted.text-left    
        a(href="/")
          img(src="../../images/hnec_logo.png")  
    .row   
      .col-md-2
      .col-md-9
        .panel.panel-info
          .panel-heading.clearfix
            .btn-group.pull-left
              a.btn.btn-success(href='#addemployee', role='button',data-toggle='modal') إضافة موضف
                span.glyphicon.glyphicon-plus 
          .panel-body
            table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th(width='10%')  أسم الموظف
                  th(width='8%') رقم الهاتف
                  th(width='10%') الصفة
                  th(width='10%') الدائرة الأنتخابية
                  th(width='5%') عرض
                  th(width='5%') الغاء
                tbody#centers
                  for employee in employees
                      tr(id = 3)
                        td #{employee.emp_office_name}
                        td #{employee.phone_number}
                        for ty,id in type.hnec
                           if id ==  employee.type
                            td #{ty}
                        td #{employee.office_name_ar}
                        td
                          button#viw.btn.btn-primary.btn-xs(value="#{employee.id_emp_office}")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{employee.id_emp_office}",data-value="#{employee.office_id}")
                           span.glyphicon.glyphicon-trash
            if pagination
              div.text-center
                ul.pagination
                  li(class='#{pagination.previous.disabled}')
                    a(href='?p=#{pagination.previous.n}') السابق
                  for page in pagination.pages
                    li(class="#{page.active}")
                      a(href='?p=#{page.n}') #{page.n}
                  li(class="#{pagination.next.disabled}")
                    a(href='?p=#{pagination.next.n}') التالي 
    #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-headr.modal-header-success
             p.h1 ارقام الهواتف
          .modal-body
            div.panel-body  
              div.table-responsive  
                table.table.table-striped.table-bordered.table-condensed.table-hover
                  tbody#emaill
                table#off.table.table-striped.table-bordered.table-condensed.table-hover
                  thead
                    th رقم الهاتف
                    th النوع
                    td الملكية
                  tbody#body
          .modal-footer
            button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  #addemployee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h1 الإضـافـة
        .row
          .col-sm-12.col-md-11.col.col-md.offset-4
            .modal-body
              form#form.form-signin(role="form" , action="/office/employeeOffice/addEmployee", method="post")   
                div.form-group
                  lable.h3 اﻻسـم
                  input#emp_office_name.form-control(type="text",name="emp_office_name", placeholder="اﻻسـم",autofocus="")
                div.form-group
                  lable.h3 البريد الالكتروني
                  input#email.form-control(type="text",name="email", placeholder="البريد الالكتروني",autofocus="") 
                div.form-group
                  lable.h3 الرقم الوطني
                  input#nid.form-control(type="text",name="nid", placeholder="الرقم الوطني",autofocus="")     
                div.form-group
                  lable.h3 اسم المصرف
                  input#bank_name.form-control(type="text",name="bank_name", placeholder="اسم المصرف",autofocus="")
                div.form-group
                  lable.h3 رقم الحساب
                  input#acount_number.form-control(type="text",name="acount_number", placeholder="رقم الحساب",autofocus="")
                div.form-group
                  lable رقم الهاتف
                  .form-group.multiple-form-group.input-group#phone_input
                    .input-group
                      #radioBtn.btn-group
                        a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                        input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                    .input-group
                      .input-group-btn.input-group-select
                        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                          span.concept ليبيانا
                          span.caret
                        ul.dropdown-phone(role='menu')
                          li
                            a(href='#ليبيانا') ليبيانا
                          li
                            a(href='#المدار') المدار
                          li
                            a(href='#ثريا') ثريا
                          li
                        input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                      input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                      span.input-group-btn
                        button.btn.btn-success.btn-add(type='button') +
                div.from-group.hidden
                  lable.h3 اللجنة 
                    select#office_id.form-control(name="office_id",placeholder="اللجنة",aria-hidden="true")
                      option(value="#{idoffice}") #{idoffice}
                div.form-group
                  lable.h3 الـصـفـه
                    select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                      for ty,id in type.hnec
                        option(value="#{id}") #{ty}
                div.form-group.text-center
                  button.btn.btn-lg.btn-primary(type="submit") إضـافة        
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal',data-id="") حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  script.
    function pho(id){
      $.get('/employee/getphone/'+id, function(result){
        $('#body').empty();
        $('#emaill').empty();
        $('#emaill').append("<tr><td><strong>البريد الالكتروني </strong></td><td>"+result[0].email+"</td></tr>");
        for ( var i = 0; i < result.length;  i++ ) {
          $('#body').append("<tr><td>"+result[i].phone_number+"</td><td>"+result[i].type+"</td><td>"+result[i].p_type+"</td></tr>");
        }
      });
    }   
    function del(id){
      $('#deleteemployee').val(id);
    }
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/employeeOffice.js")
   
