extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") الصفحة الرئيسية
        li
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true') مـرحـبـا 
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') | مـرحـبـا 
              li(role='presentation')
                a(href='/users/logout', role='menuitem', tabindex='-1') تـسـجـيـل الخـروج
      h3.text-muted.text-left    
        a(href="/")
          img(src="../../images/hnec_logo.png")  
    .row   
      .col-md-2
      .col-md-9
        .panel.panel-info
          .panel-heading.clearfix
            .btn-group.pull-left
              a.btn.btn-success(href='#addemployee', role='button',data-toggle='modal') إضافة موضف
                span.glyphicon.glyphicon-plus 
          .panel-body
            table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th(width='10%')  أسم الموظف
                  th(width='8%') رقم الهاتف
                  th(width='10%') الصفة
                  th(width='10%') الدائرة الأنتخابية
                  th(width='5%') عرض
                  th(width='5%') الغاء
                tbody#centers
                  for employee in employees
                      tr(id = 3)
                        td #{employee.emp_office_name}
                        td #{employee.phone_number}
                        for ty,id in type.hnec
                           if id ==  employee.type
                            td #{ty}
                        td #{employee.office_name_ar}
                        td
                          button#viw.btn.btn-primary.btn-xs(value="#{employee.id_emp_office}")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{employee.id_emp_office}",data-value="#{employee.office_id}")
                           span.glyphicon.glyphicon-trash
            if pagination
              div.text-center
                ul.pagination
                  li(class='#{pagination.previous.disabled}')
                    a(href='?p=#{pagination.previous.n}') السابق
                  for page in pagination.pages
                    li(class="#{page.active}")
                      a(href='?p=#{page.n}') #{page.n}
                  li(class="#{pagination.next.disabled}")
                    a(href='?p=#{pagination.next.n}') التالي 
    #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-headr.modal-header-success
             p.h1 ارقام الهواتف
          .modal-body
            div.panel-body  
              div.table-responsive  
                table.table.table-striped.table-bordered.table-condensed.table-hover
                  tbody#emaill
                table#off.table.table-striped.table-bordered.table-condensed.table-hover
                  thead
                    th رقم الهاتف
                    th النوع
                    td الملكية
                  tbody#body
          .modal-footer
            button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  #addemployee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
          button.close(type="button",data-dismiss="modal",aria-hidden="true")
          h1 الإضـافـة
        .row
          .col-sm-12.col-md-11.col.col-md.offset-4
            .modal-body
              form#form.form-signin(role="form" , action="/office/employeeOffice/addEmployee", method="post")   
                .col-sm-6.col-md-6           
                  div.form-group
                    lable.h3 اﻻسـم
                    input#emp_office_name.form-control(type="text",name="emp_office_name", placeholder="اﻻسـم",autofocus="")
                .col-sm-6.col-md-6
                  div.form-group
                    lable.h3  الأب
                    input#f_name.form-control(type="text",name="f_name", placeholder="أسم الأب",autofocus="")
                .col-sm-6.col-md-6
                  div.form-group
                    lable.h3  الجد
                    input#g_name.form-control(type="text",name="g_name", placeholder="أسم الجد",autofocus="")
                .col-sm-6.col-md-6
                  div.form-group
                    lable.h3 اللقب 
                    input#l_name.form-control(type="text",name="l_name", placeholder="اللقب",autofocus="")
                div.form-group
                  lable.h3 أسم الأم
                  input#m_name.form-control(type="text",name="m_name", placeholder="أسم الأم ثلاثي",autofocus="")
                div.form-group
                  lable.h3 تاريخ الميلاد
                    #birthday.input-group.date
                      input.form-control(type='text',name='birthday')
                      span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                div.form-group
                  lable.h3 البريد الالكتروني
                  input#email.form-control(type="text",name="email", placeholder="البريد الالكتروني",autofocus="") 
                div.form-group
                  lable.h3 الجنس
                  .form-group.multiple-form-group.input-group#sex_input
                    .input-group
                      #sex_radioBtn.btn-group
                        a.btn.btn-primary.btn-sm.active(data-toggle='sex', data-title='1') ذكر
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='sex', data-title='2') أنثى
                        input#sex(type='hidden', name='sex',value="1")
                  //- input#sex.form-control(type="text",name="sex", placeholder="الجنس",autofocus="")      
                div.form-group
                  lable.h3 الحالة اﻷجتماعية
                  .form-group.multiple-form-group.input-group#social_input
                    .input-group
                      #social_radioBtn.btn-group
                        a.btn.btn-primary.btn-sm.active(data-toggle='social_status', data-title='1') اعزب
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='social_status', data-title='2') متزوج
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='social_status', data-title='3') مطلقة
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='social_status', data-title='4') أرملة
                        input#social_status(type='hidden', name='social_status',value="1")
                  //- input#social_status.form-control(type="text",name="social_status", placeholder="الحالة الأجتماعية",autofocus="")      
                div.form-group
                  lable.h3 البطاقة الشخصية
                  input#ID_number.form-control(type="text",name="ID_number", placeholder="رقم البطاقة الشخصية",autofocus="")      
                div.form-group
                  lable.h3 جواز السفر
                  input#pass_number.form-control(type="text",name="pass_number", placeholder="رقم جواز السفر",autofocus="")      
                div.form-group
                  lable.h3 العناون
                  input#address.form-control(type="text",name="address", placeholder="العنوان",autofocus="")      
                div.form-group
                  lable.h3 كتيب العائلة
                  input#family_book_number.form-control(type="text",name="family_book_number", placeholder="رقم كتيب العائلة",autofocus="")      
                div.form-group
                  lable.h3 ورقة العائلة
                  input#family_page_number.form-control(type="text",name="family_page_number", placeholder="رقم ورقة العائلة",autofocus="")      
                div.form-group
                  lable.h3 رقم القيد
                  input#derestrict_number.form-control(type="text",name="derestrict_number", placeholder="رقم القيد",autofocus="")     
                div.form-group
                  lable.h3 لجنة
                    select#emp_subconstituency.form-control(name="emp_subconstituency", placeholder="صفة الموظف",autofocus="")
                      for typeemp in type_emp
                        option(value="#{typeemp.subconstituency_name_ar}") #{typeemp.subconstituency_name_ar}
                div.form-group
                  lable.h3 الرقم الوطني
                  input#nid.form-control(type="text",name="nid", placeholder="الرقم الوطني",autofocus="")     
                  input#office_id.hidden.form-control(type="text",name="office_id", placeholder="المكتب التابع له",autofocus="",value="#{idoffice}")     
                div.form-group
                  lable.h3 اسم المصرف
                  input#bank_name.form-control(type="text",name="bank_name", placeholder="اسم المصرف",autofocus="")
                div.form-group
                  lable.h3 رقم الحساب
                  input#acount_number.form-control(type="text",name="acount_number", placeholder="رقم الحساب",autofocus="")
                div.form-group
                  lable.h3 المؤهل العلمي
                  input#qualification.form-control(type="text",name="qualification", placeholder="المؤهل العلمي",autofocus="")
                div.form-group
                  lable.h3 سنة التخرج
                  input#graduation.form-control(type="text",name="graduation", placeholder="سنة التخرج",autofocus="")
                div.form-group
                  lable.h3 نوع العمل
                  .form-group.multiple-form-group.input-group
                    .input-group
                      #work_radioBtn.btn-group
                        a.btn.btn-primary.btn-sm.active(data-toggle='work_type', data-title='1')    عقد
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='work_type', data-title='2')     ندب
                        input#work_type(type='hidden', name='work_type',value="1")
                  //- input#work_type.form-control(type="text",name="work_type", placeholder="نوع العمل",autofocus="")
                div.form-group
                  lable.h3 الدرجة
                  input#level.form-control(type="text",name="level", placeholder="الدرجة",autofocus="")
                div.form-group
                  lable.h3 الراتب
                  input#salary.form-control(type="text",name="salary", placeholder="الراتب",autofocus="")
                div.form-group
                  lable.h3 تاريخ بداء العمل
                  #start_date.input-group.date
                    input.form-control(type='text',name='start_date')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                 //- input#start_date.form-control(type="text",name="start_date", placeholder="بداية العمل",autofocus="")
                div.form-group
                  lable.h3 تاريخ إنتهاء العمل 
                  #end_date.input-group.date
                    input.form-control(type='text',name='end_date')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                  //- input#end_date.form-control(type="text",name="end_date", placeholder="سنة التخرج",autofocus="")
                div.form-group
                  lable رقم الهاتف
                  .form-group.multiple-form-group.input-group#phone_input
                    .input-group
                      #radioBtn.btn-group
                        a.btn.btn-primary.btn-sm.active(data-toggle='p_type', data-title='المفوضية') المفوضية
                        a.btn.btn-primary.btn-sm.notActive(data-toggle='p_type', data-title='شخصي') شخصي
                        input#p_type(type='hidden', name='p_type[]',value="المفوضية")
                    .input-group
                      .input-group-btn.input-group-select
                        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                          span.concept ليبيانا
                          span.caret
                        ul.dropdown-phone(role='menu')
                          li
                            a(href='#ليبيانا') ليبيانا
                          li
                            a(href='#المدار') المدار
                          li
                            a(href='#ثريا') ثريا
                          li
                        input#in.input-group-select-val(type='hidden', value='ليبيانا', name='phone_type[]')
                      input#phone.form-control(type='text', name='phone[]',placeholder="رقم الهاتف")
                      span.input-group-btn
                        button.btn.btn-success.btn-add(type='button') +
                div.form-group
                  lable.h3 الـصـفـه
                    select#type.form-control(name="type", placeholder="صفة الموظف",autofocus="")
                      for ty,id in type.hnec
                        option(value="#{id}") #{ty}
                div.form-group.text-center
                  button.btn.btn-lg.btn-primary(type="submit") إضـافة        
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal',data-id="") حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
  script.
    function pho(id){
      $.get('/employee/getphone/'+id, function(result){
        $('#body').empty();
        $('#emaill').empty();
        $('#emaill').append("<tr><td><strong>البريد الالكتروني </strong></td><td>"+result[0].email+"</td></tr>");
        for ( var i = 0; i < result.length;  i++ ) {
          $('#body').append("<tr><td>"+result[i].phone_number+"</td><td>"+result[i].type+"</td><td>"+result[i].p_type+"</td></tr>");
        }
      });
    }   
    function del(id){
      $('#deleteemployee').val(id);
    }
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-editable.min.js")
  script(src="/javascripts/phone.js")
  script(src="/javascripts/employeeOffice.js")
  script(src="/javascripts/bootstrap-datetimepicker.js") 

   
