extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    .panel.panel-default 
      div.btn-group.pull-left
          a.btn.btn-success(href='#addoffice', role='button',data-toggle='modal') إضافة موضف
            span.glyphicon.glyphicon-plus 
        .input-group 
            input.form-control.input-sm(type="text",name="constitres", placeholder=" أبحث", required="")
            .input-group-btn
              .btn.btn-primary.btn-sm(type="button")  
                spen.glyphicon.glyphicon-search
        b.text-right الموظفين
      div.panel-body  
        div.table-responsive  
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th أسم الموظف
              th البريد الالكتروني
              th رقم الهاتف
              th الصفة
              th المركز
              th تعديل
              th الغاء 
            tbody
             for employee in employees
                  tr
                    td #{employee.employee_name}
                    td #{employee.email}
                    td 
                      a#phone(href='#phonee', data-toggle='modal',data-value="#{employee.idemployee}")
                        |#{employee.phone_number}
                      
                    td 
                      case employee.type
                        when 0
                          p رئيس مركز
                        when 1
                          p مدير محطة
                        when 2
                          p محقق هوية
                        when 3
                          p موزع أوراق الاقتراع
                        when 4
                          p مراقب الصندوق
                        when 5
                          p منظم الطابور بالمركز
                        when 6
                          p منظم الطابور بالمحطة
                    td #{employee.name}
                    td
                      button#viw.btn.btn-primary.btn-xs(value="#{employee.idemployee}")
                        span.glyphicon.glyphicon-eye-open
                    td      
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{employee.idemployee}")
                       span.glyphicon.glyphicon-trash 
        #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#deleteemployee.btn.btn-danger(type='button',data-dismiss='modal') delete
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
        #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-success
                 p.h1 ارقام الهواتف
              .modal-body
                div.panel-body  
                  div.table-responsive  
                    table#off.table.table-striped.table-bordered.table-condensed.table-hover
                      thead
                        th رقم الهاتف
                        th النوع
                      tbody#body
                            
              .modal-footer
                button.btn.btn-success(data-dismiss='modal', type='button') cancel
        #addoffice.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-success
                button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
                button.close(type="button",data-dismiss="modal",aria-hidden="true")
                h1 إضافة موظف
                  .glyphicon.glyphicon-plus 
              .row
                .col-sm-12.col-md-11.col.col-md.offset-4
                    .modal-body
                        form#form.form-signin(role="form" , action="#", method="post")   
                          div.form-group
                            lable.h3 اسم الموظف
                            input#employee_name.form-control(type="text",name="employee_name", placeholder="اسم الموظف", required="",autofocus="")
                          div.form-group
                            lable.h3 البريد الالكتروني
                            input#office_name_ar.form-control(type="text",name="office_name_ar", placeholder="البريد الالكتروني", required="",autofocus="")      
                          div.form-group
                            lable.h3 رقم الهاتف 
                            input#office_id.form-control(type="text",name="office_id", placeholder="رقم الهاتف ", required="",autofocus="")
                           div.form-group
                            lable.h3 صفة الموظف
                            select#region_name.form-control(type="text",name="region_name", placeholder="صفة الموظف", required="",autofocus="")
                              option(value="0") رئيس مركز
                              option(value="1") مدير محطة
                              option(value="2") محقق هوية 
                              option(value="3") موزع أوراق الاقتراع
                              option(value="4") مراقب الصندوق
                              option(value="5") منظم الطابور بالمركز
                              option(value="6") منظم الطابور بالمحطة
                          div.form-group.text-center
                            button.btn.btn-lg.btn-primary(type="submit") إضـافة      
                    .modal-footere
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/employee.js")
