extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") لـوحـــة الـتـحــكــم 
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="/../../images/hnec_logo.png")
    ol.breadcrumb
      li
        a(href="/office") Office
        span
      li
        a(href="/office/#{names[0].idoffice}") #{names[0].office_name}
        span
      li
        a(href="/office/#{names[0].idoffice}/#{names[0].subconstituency_id}") #{names[0].subconstituency_name}
        span
      li
        a(href="/office/#{names[0].idoffice}/#{names[0].subconstituency_id}/#{names[0].idvillage}") #{names[0].village_name}
        span
      li.active #{names[0].mahalla_name}
    .row
        .panel.col-sm-3
          .nav.nav-pills.nav-stacked
            li.active
              a(href="#") 
                span.glyphicon.glyphicon-home اللجان الأنتخابية 
        .col-md-9 
          .panel.col-md-6
            .input-group 
              input.form-control(type="text",name="constitres", placeholder=" أبحث", required="")
              .input-group-btn
                .btn.btn-default(type="button")  
                  spen.glyphicon.glyphicon-search
          div.table-responsive  
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th  رقم المركز 
              th  اسم المركز
              th   نوع المركز 
              th  عرض  
            tbody
              for center in centers
                tr
                  td #{center.center_id}
                  td #{center.name}
                  td #{center.center_type}
                  td 
                    button#view.btn.btn-primary.btn-xs(value='#{center.center_id}')
                      span.glyphicon.glyphicon-eye-open 
          div.text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي  
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/office.js")