extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          h2 الـلــجـان
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    .row
      .col-sm-3
        .nav.nav-pills.nav-stacked
          li.active
            a(href="/cpanel")
              span.glyphicon.h5 لـوحـــة الـتـحــكــم
            p
          li
            p
              a.btn.btn-default.btn-block(href="/office/mahallaViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الــمـحـلـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/villageViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | القـريـه / المـدينـه
          li
            p
              a.btn.btn-default.btn-block(href="/office/officeViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الـلــجـان
          li
            p
              a.btn.btn-default.btn-block(href="/office/subconstituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائـر الـفرعـيـه
          li
            p
              a.btn.btn-default.btn-block(href="/root", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـستخدميــن
          li
            p
              a.btn.btn-default.btn-block(href="/office/constituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائر الرئـيـسـيه
          li
            p
              a.btn.btn-default.btn-block(href="/admin/phoneManager", role="button")
                span.glyphicon.glyphicon-earphone.pull-right
                | هواتـف المـدراء
          li
            p
              a.btn.btn-default.btn-block(href="/employee", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـوظـفـيـن
          li
            p
              a.btn.btn-default.btn-block(href="/admin", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | الـمـدراء
          li
            p
              a.btn.btn-default.btn-block(href="/report", role="button")
                span.glyphicon.glyphicon-list-alt.pull-right
                | الـتـقـاريــر
          li
            p
              a.btn.btn-default.btn-block(href="/office", role="button")
                span.glyphicon.glyphicon-th-list.pull-right
                | اللجـان و المـراكز
      
      .panel-body  
        .col-lg-9.table-responsive  
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th الرقم
              th اﻻسم باللغة العربيه
              th اﻻسم باللغة اﻻنجليزيه
              th اسم المنطقة
              th عرض 
            tbody
              for office in offices
                tr#office(data-id="#{office.office_id}")
                  td #{office.office_id}
                  td #{office.office_name_ar}
                  td #{office.office_name}
                  td #{office.region_name}
                  td
                    a.btn.btn.btn-primary.btn-xs(href="/office/#{office.office_id}") 
                      span.glyphicon.glyphicon-eye-open
        if pagination
          div.text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي 
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/public/javascripts/officeViews.js")
