extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="/../../images/hnec_logo.png") 
    ol.breadcrumb
      li
        a(href="/office") #{nameEmp[0].office_name}
        span
      li.active Office Manager
    .row
        .panel.col-sm-3
          .nav.nav-pills.nav-stacked
            li.active
              a(href="http://localhost:3003/office/") 
                span.glyphicon.glyphicon-home اللجان الأنتخابية 
            for subb in sub    
              li
                a(href="http://localhost:3003/office/#{subb.office_idoffice}/#{subb.subconstituency_id}") 
                  span #{subb.subconstituency_name}
        .col-md-9   
          .panel.col-md-6
            .input-group 
              input.form-control(type="text",name="constitres", placeholder=" أبحث", required="")
              .input-group-btn
                .btn.btn-default(type="button")  
                  spen.glyphicon.glyphicon-search
          div.table-responsive  
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th  رقم المركز 
              th  اسم المركز
              th   نوع المركز 
            tbody
              for center in centers
                tr
                  td #{center.center_id}
                  td #{center.name}
                  td #{center.center_type}
        #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  حدف ؟
              .modal-body
                p.h2 هل انت متأكد 
                p 
              .modal-footer
                button#offdelete.btn.btn-danger(type='button',data-dismiss='modal') حذف
                button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
        #addoffice.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-success
                button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
                button.close(type="button",data-dismiss="modal",aria-hidden="true")
                h1 إضافة لجنة 
              .row
                .col-sm-12.col-md-11.col.col-md.offset-4
                    .modal-body
                        form#form.form-signin(role="form" , action="#", method="post") 
                          div.form-group
                            lable.h3 اسم اللجنة باللغة العربية  
                            input#office_name_ar.form-control(type="text",name="office_name_ar", placeholder="اسم اللجنة باللغة العربية", required="",autofocus="")                            
                          div.form-group
                            lable.h3 اسم اللجنة باللغة  الأنجليزية
                            input#office_name.form-control(type="text",name="office_name", placeholder="اسم اللجنة باللغة  الأنجليزية", required="",autofocus="")
                          div.form-group
                            lable.h3 رقم اللجنة 
                            input#office_id.form-control(type="text",name="office_id", placeholder="رقم اللجنة", required="",autofocus="")
                           div.form-group
                            lable.h3 المنطقة 
                            select#region_name.form-control(type="text",name="region_name", placeholder="رقم اللجنة", required="",autofocus="")
                              option(value="") الشرقية 
                              option(value="") الغربية 
                              option(value="") الجنوبية 
                          div.form-group.text-center
                            button.btn.btn-lg.btn-primary(type="submit") إضـافة      
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/office.js")