extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          //a(href="/cpanel") لـوحـــة الـتـحــكــم 
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
    .row
      .col-sm-3
        .nav.nav-pills.nav-stacked
          li.active
            a(href="/cpanel")
              span.glyphicon.h5 لـوحـــة الـتـحــكــم
            p
          li
            p
              a.btn.btn-danger.btn-block(href="/office/mahallaViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الــمـحـلـه
          li
            p
              a.btn.btn-warning.btn-block(href="/office/villageViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | القـريـه / المـدينـه
          li
            p
              a.btn.btn-primary.btn-block(href="/office/officeViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الـلــجـنـه
          li
            p
              a.btn.btn-primary.btn-block(href="/office/subconstituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائـر الـفرعـيـه
          li
            p
              a.btn.btn-success.btn-block(href="/root", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـستخدميــن
          li
            p
              a.btn.btn-info.btn-block(href="/office/constituencyViews", role="button")
                span.glyphicon.glyphicon-th.pull-right
                | الدوائر الرئـيـسـيه
          li
            p
              a.btn.btn-primary.btn-block(href="/admin/phoneManager", role="button")
                span.glyphicon.glyphicon-earphone.pull-right
                | هواتـف المـدراء
          li
            p
              a.btn.btn-primary.btn-block(href="/employee", role="button")
                span.glyphicon.glyphicon-user.pull-right
                | المـوظـفـيـن
          li
            p
              a.btn.btn-primary.btn-block(href="/office/centerViews", role="button")
                span.glyphicon.glyphicon-th-large.pull-right
                | الـمـراكـز
          li
            p
              a.btn.btn-primary.btn-block(href="/admin/phoneEmployeeAll", role="button")
                span.glyphicon.glyphicon-earphone.pull-right
                | هواتـف المـوظـفـين
          li
            p
              a.btn.btn-success.btn-block(href="/office", role="button")
                span.glyphicon.glyphicon-th-list.pull-right
                | اللجـان و المـراكز
      .panel
        .col-sm-4.col-md-6
          .input-group 
            input.form-control(type="text",name="constitres", placeholder=" أبحث", required="")
            .input-group-btn
              .btn.btn-default(type="button")  
                spen.glyphicon.glyphicon-search
      .panel-body  
        .col-lg-9.table-responsive  
          table#off.table.table-striped.table-bordered.table-condensed.table-hover
            thead
              th اﻻسم
              th النوع
              th رقم الهاتف
              th عرض
            tbody
              for manager in managers
                tr
                  td #{manager.name}
                  td #{manager.type}
                  td
                    a#phone(href='#phonee', data-toggle='modal',data-value="#{manager.iduser}")
                      |  #{manager.phone_number}
                  td 
                    button#viw.btn.btn-primary.btn-xs(   data-title='Edit',value="#{manager.iduser}")
                      span.glyphicon.glyphicon-eye-open
        div.text-center
          ul.pagination
            li(class='#{pagination.previous.disabled}')
              a(href='?p=#{pagination.previous.n}') السابق
            for page in pagination.pages
              li(class="#{page.active}")
                a(href='?p=#{page.n}') #{page.n}
            li(class="#{pagination.next.disabled}")
              a(href='?p=#{pagination.next.n}') التالي
  #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
           p.h1 ارقام الهواتف
        .modal-body
          div.panel-body  
            div.table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th رقم الهاتف
                  th النوع
                tbody#body
        .modal-footer
          button.btn.btn-success(data-dismiss='modal', type='button') cancel
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/phoneManager.js")
