extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="/cpanel") لـوحـــة الـتـحــكــم 
        li
          //a(href="#") About
        li
          //a(href="#") Contact
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/hnec_logo.png")
  div.container    
    div.panel.panel-default
      div.panel-heading
        div.btn-group
          h3.panel-title.text-right.active المستخدمين  
        div.btn-group.pull-left
          a.btn.btn-success.btn-xs(href='/root/adduser', role='button') إضافة مستخدم
            span.glyphicon.glyphicon-plus 
      div.panel-body
          div.table-responsive  
            table#user.table.table-bordred.table-striped
              thead
                th الاسم
                th رقم الهاتف
                th الصلحيات
                th عرض
                th الغاء 
              tbody
                for user in users
                  tr
                    td= user.name
                    td 
                      a#phone(href='#phonee', data-toggle='modal',data-value="#{user.iduser}")
                        |#{user.phone_number}
                    td
                      case user.level
                        when 0
                          p root
                        when 1
                          p admin
                        when 2
                          p manager
                    td
                      button#viw.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{user.iduser}", data-target='#edit', data-placement='top', rel='tooltip')
                        span.glyphicon.glyphicon-eye-open
                    td      
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{user.iduser}")
                         span.glyphicon.glyphicon-trash 
          div.text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي
  #phonee.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
           p.h1 ارقام الهواتف
        .modal-body
          div.panel-body  
            div.table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th رقم الهاتف
                  th النوع
                tbody#body
        .modal-footer
          button.btn.btn-success(data-dismiss='modal', type='button') cancel
  #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/root.js")